* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

header {
  background: #2c7a7b;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background: #2c7a7b;
  color: white;
  bottom: 0;
  width: 100%;
}

/*Navbar css*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 12px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #2c7a7b;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 25px;
}



.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a,
.dropdown button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  background: white;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #333;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-right input {
  padding: 6px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.lang {
  cursor: pointer;
}


/* hero section bg video */


.hero {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.hero-content h1 span {
  color: #6be26b;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #1e90ff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}
 
/* data showing animation */

.stats {
  padding: 80px 40px;
  text-align: center;
  
   background:  linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.stats h2 {
  color: #1f4d0a;
  font-size: 36px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 60px;
}

.stat {
  font-size: 18px;
}

.stat .count {
  position: relative;
  padding-top: 15px;
}

.stat .count::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;        
  height: 5px;          
  background: #0f3a00;    
  transform: translateX(-50%);
}


.stat .count {
  font-size: 64px;
  font-weight: bold;
  color: #1f4d0a;
}

.unit {
  font-size: 40px;
  color: #1f4d0a;
}

/* challengs card display */
 

.challenges {
  border-radius: 25px;
  background: linear-gradient(90deg,
    #f6fff6 0%,
    #e6f4ec 16.667%,
    #f5ece6 33.333%,
    #fde9e5 50%,
    #ebe9e7 66.667%,
    #ebeeee 83.333%,
    #fef6f9 100%
  );
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.challenge-card {
  background: rgba(255,255,255,0.8);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateY(40px);
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.challenge-card.animate {
  animation: slideUp 0.8s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.challenge-card h3 {
    border-left: 7px solid #0FBED8; 
    padding-left: 3px;   
}

/* HOVER EFFECT */
.challenge-card:hover {
  background: linear-gradient(315deg, #ffd3d7 0.000%, #fde5eb 20.000%, #edefee 40.000%, #dbf1e2 60.000%, #d2ecc5 80.000%, #d8de9a 100.000%);
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 35px rgba(128, 180, 37, 0.5);
  
}

.challenge-card:hover h3 {
  color: #393e46;
 
  
}
.challenge-card.animate {
  animation: slideUp 0.8s ease forwards;
}
.challenge-card h3 {
  position: relative;
  padding-bottom: 10px;
}

/* hidden line */
.challenge-card h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #2e7d32; /* green line */
  transition: width 0.3s ease;
}

.challenge-card:hover h3::after {
  width: 60%;
}


















/* value section */

 .diagram-section {
  padding: 50px 20px;
  text-align: center;
  background:  linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.diagram-section h2 {
  color: #1f4d00;
  margin-bottom: 40px;
}

.diagram-container {
  position: relative;
  width: 550px;
  margin: auto;
}

.diagram-bg {
  width: 100%;
  display: block;
}

/* Box style */
.diagram-box {
  position: absolute;
  background: #ffffff;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  color: #1f4d00;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  cursor: pointer;

  transition: all 0.4s ease;
}

/* Gradient hover on value div */
.diagram-box:hover {
background: linear-gradient(315deg, #fcb8e2 0.000%, #ffc8ed 20.000%, #fbe8f9 40.000%, #e8f9ff 60.000%, #d0ecff 80.000%, #b8cdfa 100.000%);
  
  color: black;
  transform: scale(1.08);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

/* POSITIONING  */
.b1  { top: -30px; left: 180px; }       /*Yield & quality improvement*/
.b2  { top: 20px; left: 400px; }         /*Supply chain efficiency*/
.b3  { top: 15px; right: 350px; }        /*Ensure regenerative & sustainable practices*/
.b4  { top: 150px; right: -250px; }        /*Ensure traceability, certification & compliance*/
.b5  { top: 290px; right: -170px; }       /*Building climate resilience*/
.b6  { bottom: 50px; right: 450px; }      /*Ensure risk coverage & access to finance*/
.b7  { bottom: 30px; left: 450px; }      /*Surety of supply*/
.b8  { bottom: -30px; left: 330px; }      /*Market expansion*/
.b9  { bottom: 0px; left: 120px; }       /*Resilient sourcing*/
.b10 { top: 280px; left: -190px; }           /*Manage market or price volatility*/
.b11 { top: 150px; left: -110px; }        /*Crop loss management*/

.diagram-box {
  position: absolute;
  background: #ffffff;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  color: #1f4d00;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.4s ease;

  display: flex;
  align-items: center;
  gap: 10px; 
}

/* Image size control */
.diagram-box img {
  width: 22px;      
  height: 22px;
  object-fit: contain;
}




